@import url('https://fonts.googleapis.com/css?family=Audiowide');
@import url('https://fonts.googleapis.com/css?family=Mukta');

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
  background-attachment: fixed;
}

#home {
  font-family: 'Audiowide', cursive;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

#home:after {
  content: '';
  position: absolute;
  z-index: -5;
  left: 0;
  bottom: 0;
}
#home:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
  -moz-transform: translateZ(0) scale(1.0, 1.0);
  -ms-transform: translateZ(0) scale(1.0, 1.0);
  -o-transform: translateZ(0) scale(1.0, 1.0);
  transform: translateZ(0) scale(1.0, 1.0); 
  background-image: url("./img/Mountains.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  animation: increase 60s linear 10ms infinite;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: -6;
}

@keyframes increase {
  0%{transform: scale(1)}
  100%{transform: scale(1.5)}
}

#download-btn {
  position: fixed;
  right: 1.5%;
  bottom: 5%;
  z-index: 20;
}

.Navbar {
  font-family: 'Audiowide', cursive;
  font-size: 2em;
}

.navbar-brand {
  transition: 0.5s all;
}

.navbar-brand:hover {
  padding: 5px 0 5px 10px !important;;
}

.navbar-nav a {
  color: #ff9100 !important;
  transition: 0.5s all;
}

.navbar-nav a:hover {
  padding: 5px 0 5px 10px !important;
  color: #143779 !important;
}

#battery {
  color: #ff9100;
}

#square-wrap {
  height: 400px;
  width: 400px;
  left: 50%;
  margin-left: -200px;
  margin-top: -200px;
  background-color: #2a2727;
  opacity: 0.5;
  position: absolute;
  z-index: 1;
  border-radius: 20px;
}

#info {
  height: 400px;
  width: 400px;
  left: 50%;
  margin-left: -200px;
  margin-top: -200px;
  z-index: 1;
  color: #e6dbd3;
  position: absolute;
}

@media (max-height: 570px) {
  #square-wrap, #info {
    top: 300px;
  }
  #home {
    overflow: auto;
  }
}

#logo {
  margin-top: 10px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

#links a {
  font-size: 50px;
  padding: 10px;
  color: #143779; 
}

#links a:hover {
  padding: 5px 0 5px 10px;
  color: white;
}

#home-text {
  font-family: 'Mukta', sans-serif;
}

#home-nav {
  margin-top: 13px;
  background: #143779;
  height: 55px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#home-nav-list {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  padding-left: 0px;
  padding-top: 10px;
}

#home-nav a {
  text-decoration: none;
  font-size: 25px;
  padding-left: 7px;
  padding-right: 7px;
  transition: 0.5s all;
}

#links a {
  transition: 0.5s all;
}

#home-nav a:hover {
  padding: 10px 0 10px 10px;
  color: white;
}

#about {
  padding-top: 5%;
  background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
  height: 100%;
  font-size: 2em;
  font-family: 'Mukta', sans-serif;
  color: #a79292;
  background-attachment: fixed;
}

.about-title {
  padding-bottom: 2%;
  color: black;
  font-family: 'Audiowide', cursive;
}

#progressbars h4 {
  font-size: 1em;
}

@media (max-width: 570px) {
  #progressbars h4 {
    font-size: 1.2em;
  }
}
  
#progressbars i {
  color: #ff9100;
}

.jq-logo img{
  height: 30px;
  width: 30px,
}

.about-block {
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}

.menu-item {
  height: 60px;
  background-color:black;
  margin: 20px;
  font-size: 1em;
  color: white;
  border: 5px solid #ff9100;
  border-radius: 5px;
}

#projects h1 {
  margin-top: 100px;
  font-family: 'Audiowide', cursive;
}

#slider{
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  transition: 0.5s all
}

#slider:hover {
  padding: 5px 0 5px 10px;
}


.project-dscrptn {
  background-color: #e3eeff;
  border-radius: 50px;
  color: black;
}

.project-dscrptn i {
  color: #ff9100;
}

.project-dscrptn img {
  height: 20px;
  width: 20px,
}

.carousel {
  border: 5px solid #ff9100;
  border-radius: 5px;
}

@media(max-width: 1190px) {
  .project-dscrptn h3, h4{
    font-size: 0.8em;
  }
  .project-dscrptn img {
    height:12px;
    width: 12px,
  }
}

@media (max-width: 570px) {
  .project-dscrptn h3, h4{
    font-size: 0.5em;
  }
  #projects h1 {
    margin-top: 50%;
    font-family: 'Audiowide', cursive;
  }
  .project-dscrptn img {
    height:8px;
    width: 8px,
  }
}